<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <!--/*/ <th:block th:insert="~{fragments/general.html :: headerfiles}">
        </th:block> /*/-->
    <meta charset="UTF-8">
    <title>Logicomp - Cargo</title>
</head>
<body>
<div class="container" th:replace="~{fragments/general :: header}"></div>

Add <a th:href="@{/cargo/add}"> new Cargo</a>

<div class="container" th:unless="${#lists.isEmpty(cargoList)}">
    <h2>List of all Cargo</h2>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Weight (Kg)</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="cargo : ${cargoList}">
            <td th:text="${cargo.id}" scope="row">1</td>
            <td th:text="${cargo.name}">Example Name</td>
            <td th:text="${cargo.description}">Example Description</td>
            <td th:text="${cargo.weightKg}">100</td>
            <td th:text="${cargo.status}">Ready</td>
            <td><a th:href="@{/cargo/edit/{id}(id=${cargo.id})}">Update</a></td>
            <td><a th:href="@{/cargo/delete/{id}(id=${cargo.id})}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="~{fragments/general.html :: scripts}"></div>
</body>
</html>