<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <!--/*/ <th:block th:insert="~{fragments/general.html :: headerfiles}">
        </th:block> /*/-->
    <meta charset="UTF-8">
    <title>Logicomp - Update Cargo</title>
</head>
<body>
<div class="container" th:replace="~{fragments/general :: header}"></div>

<div class="container">
    <form action="#"
          th:action="@{/cargo/update/{id}(id=${cargo.id})}"
          th:object="${cargo}"
          method="post">
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name" placeholder="Name">
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        <label for="description">Description</label>
        <input type="text" th:field="*{description}" id="description" placeholder="Description">
        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
        <label for="weightKg">Weight (Kg)</label>
        <input type="number" th:field="*{weightKg}" id="weightKg" placeholder="Weight">
        <span th:if="${#fields.hasErrors('weightKg')}" th:errors="*{weightKg}"></span>
        <th:block th:each="op : ${cargoStatus}">
            <label th:for="${opStat.index}" th:text="${op}">Status</label>
            <input type="radio" th:field="*{status}" th:value="${op}" th:id="${opStat.index}">
        </th:block>
        <span th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></span>

        <input type="submit" value="Update Cargo">
    </form>
</div>

<div th:replace="~{fragments/general.html :: scripts}"></div>
</body>
</html>