<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">
<!--/*/ <th:block th:insert="~{fragments/general.html :: headerfiles}">
    </th:block> /*/-->
<head>
    <meta charset="UTF-8">
    <title>Driver Panel</title>
</head>
<body>
<div class="container" th:replace="~{fragments/general :: header}"></div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Hours worked</th>
        <th scope="col">Current location</th>
        <th scope="col">Assigned Truck</th>
        <th scope="col">Current Order</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${driver.id}"></td>
        <td th:text="${driver.name}"></td>
        <td th:text="${driver.surname}"></td>
        <td th:text="${driver.workingHoursCounter} + ' out of ' + ${driver.maxWorkingHours}"></td>
        <td th:text="${driver.status}"></td>
        <td th:text="${driver.currentLocation}"></td>
        <td th:text="${driver?.assignedTruck?.plateNumber}"></td>
        <td th:text="${driver?.currentOrder?.id}"></td>
    </tr>
    </tbody>
</table>

<form action="#"
      th:action="/driver/{id}/changeStatus(id=${driver.id})}"
      th:object="${driver}"
      method="post">
<select th:field="*{status}">
    <option th:each="op : ${driverStatus}"
            th:value="${op}"
            th:text="${op}">
        Status
    </option>
</select>
    <input type="submit" value="Update my Status">
</form>

<div class="container" th:replace="~{fragments/general :: scripts}"></div>
</body>
</html>