<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
  <!--/*/ <th:block th:insert="~{fragments/general.html :: headerfiles}">
      </th:block> /*/-->
  <meta charset="UTF-8">
  <title>Logicomp - Order</title>
</head>
<body>
<div class="container" th:replace="~{fragments/general :: header}"></div>

Add <a th:href="@{/order/add}"> new Order</a>

<div class="container" th:unless="${#lists.isEmpty(orderList)}">
  <h2>List of all Orders</h2>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Completed</th>
      <th scope="col">Assigned Trucks</th>
      <th scope="col">Assigned Drivers</th>
      <th scope="col">Route</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orderList}">
      <td th:text="${order.id}" scope="row">1</td>
      <td th:text="|${order.isComplete}|">Example Name</td>
      <td>
        <a th:href="@{/order/{id}/assignTruck(id=${order.id})}">Add Truck</a>
        <table>
         <tbody>
         <tr th:each="truck : ${order.assignedTrucks}">
           <td th:text="${truck.plateNumber}"></td>
         </tr>
         </tbody>
        </table>
      </td>
      <td>
        <a th:href="@{/order/{id}/assignDriver(id=${order.id})}">Add Driver</a>
        <table>
          <tbody>
          <tr th:each="driver : ${order.assignedDrivers}">
            <td th:text="${driver.name} + ' ' + ${driver.surname}"></td>
          </tr>
          </tbody>
        </table>
      </td>
      <td>
        <a th:href="@{/order/{id}/addWaypoint(id=${order.id})}">Add Waypoint</a>
        <table>
          <tbody>
          <tr th:each="wp : ${order.route}">
            <td th:text="${wp.location.name} + ' - ' + ${wp.cargo.name} + ' - ' + ${wp.type}"></td>
          </tr>
          </tbody>
        </table>
      </td>
      <td><a th:href="@{/order/delete/{id}(id=${order.id})}">Delete</a></td>
    </tr>
    </tbody>
  </table>
</div>
<div th:replace="~{fragments/general.html :: scripts}"></div>
</body>
</html>
