<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <!--/*/ <th:block th:insert="~{fragments/general.html :: headerfiles}">
        </th:block> /*/-->
    <meta charset="UTF-8">
    <title>List of Drivers for order</title>
</head>
<body>

<div class="container" th:replace="~{fragments/general :: header}"></div>

<div th:replace="~{views/order-assignTruck :: orderDetails}"></div>

<a th:href="@{/order}">Go back</a>

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Hours worked</th>
        <th scope="col">Current location</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="driver : ${driverList}">
        <td th:text="${driver.id}">1</td>
        <td th:text="${driver.name}">Cris</td>
        <td th:text="${driver.surname}">Cris</td>
        <td th:text="${driver.workingHoursCounter}">100</td>
        <td th:text="${driver.currentLocation.name}">CityName</td>

        <td><a th:href="@{/driver/addToOrder/{driverId}/{orderId}(driverId=${driver.id}, orderId=${order.id})}">Add Driver</a></td>
    </tr>
    </tbody>
</table>

<div th:replace="~{fragments/general.html :: scripts}"></div>

</body>
</html>