<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <!--/*/ <th:block th:insert="~{fragments/general.html :: headerfiles}">
        </th:block> /*/-->
    <meta charset="UTF-8">
    <title>List of Trucks for order</title>
</head>
<body>

<div class="container" th:replace="~{fragments/general :: header}"></div>

<table class="table" th:fragment="orderDetails">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Completed</th>
        <th scope="col">Assigned Trucks</th>
        <th scope="col">Assigned Drivers</th>
        <th scope="col">Route</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${order.id}"></td>
        <td th:text="${order.isComplete}"></td>
        <td>
            <table>
                <tbody>
                <tr th:each="truck : ${order.assignedTrucks}">
                    <td th:text="${truck.plateNumber}"></td>
                </tr>
                </tbody>
            </table>
        </td>
        <td>
            <table>
                <tbody>
                <tr th:each="driver : ${order.assignedDrivers}">
                    <td th:text="${driver.name} + ' ' + ${driver.surname}"></td>
                </tr>
                </tbody>
            </table>
        </td>
        <td>
            <table>
                <tbody>
                <tr th:each="wp : ${order.route}">
                    <td th:text="${wp.location.name} + ' - ' + ${wp.cargo.name} + ' - ' + ${wp.type}"></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{/order}">Go back</a>

   <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Plate Number</th>
                <th scope="col">Maximum Capacity (Tn)</th>
                <th scope="col">State</th>
                <th scope="col">Current Location</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="truck : ${truckList}">
            <td th:text="${truck.id}" scope="row">1</td>
            <td th:text="${truck.plateNumber}">5050ABC</td>
            <td th:text="${truck.maxCapacityTons}">100</td>
            <td th:text="${truck.state}">OK</td>
            <td th:text="${truck.currentLocation.name}">Granada</td>

            <td><a th:href="@{/truck/addToOrder/{truckId}/{orderId}(truckId=${truck.id}, orderId=${order.id})}">Add to this order</a></td>
        </tr>
        </tbody>
    </table>

<div th:replace="~{fragments/general.html :: scripts}"></div>

</body>
</html>