<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
  <!--/*/ <th:block th:insert="~{fragments/general.html :: headerfiles}">
      </th:block> /*/-->
  <meta charset="UTF-8">
  <title>Create Waypoint for Order</title>
</head>
<body>

<div class="container" th:replace="~{fragments/general :: header}"></div>

<div th:replace="~{views/order-assignTruck :: orderDetails}"></div>

<a th:href="@{/order}">Go back</a>

<div class="container">
  <form action="#"
  th:action="@{/waypoint/addToOrder/{orderId}(orderId=${order.id})}"
  th:object="${waypoint}"
  method="post">

    <select th:field="*{location}">
      <option th:each="city : ${cityList}"
              th:value="${city.id}"
              th:text="${city.name}">
        City
      </option>
    </select>

    <select th:field="*{cargo}">
      <option th:each="c : ${cargoList}"
              th:value="${c.id}"
              th:text="${c.name} + ' - ' + ${c.weightKg}+ ' Kg - ' + ${c.status} " >
        Cargo
      </option>
    </select>

    <th:block th:each="op : ${waypointType}">
      <label th:for="${opStat.index}" th:text="${op}">Type</label>
      <input type="radio" th:field="*{type}" th:value="${op}" th:id="${opStat.index}">
    </th:block>

    <input type="submit" value="Create and add Waypoint">
  </form>
</div>

</body>
</html>