<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <!--/*/ <th:block th:insert="~{fragments/general.html :: headerfiles}">
        </th:block> /*/-->
    <meta charset="UTF-8">
    <title>Logicomp - Create Truck</title>
</head>
<body>
<div class="container" th:replace="~{fragments/general :: header}"></div>

<div class="container">
    <form action="#"
         th:action="@{/truck/add}"
         th:object="${truck}"
         method="post">

        <label for="plateNumber">Plate Number </label>
        <input type="text" th:field="*{plateNumber}" id="plateNumber" placeholder="Plate Number">
        <span th:if="${#fields.hasErrors('plateNumber')}" th:errors="*{plateNumber}"></span>

        <label for="maxCapacityTons">Maximum Capacity in Tons </label>
        <input type="text" th:field="*{maxCapacityTons}" id="maxCapacityTons" placeholder="Tons">
        <span th:if="${#fields.hasErrors('maxCapacityTons')}" th:errors="*{maxCapacityTons}"></span>

        <label for="cityName">Current Location (city name)</label>
        <input type="text" th:field="*{cityName}" id="cityName" placeholder="City Name">
        <span th:if="${#fields.hasErrors('cityName')}" th:errors="*{cityName}"></span>


        <th:block th:each="op : ${truckStatus}">
            <label th:for="${opStat.index}" th:text="${op}">Truck State</label>
            <input type="radio" th:field="*{state}" th:value="${op}" th:id="${opStat.index}">
        </th:block>
        <span th:if="${#fields.hasErrors('state')}" th:errors="*{state}"></span>

        <input type="submit" value="Create Truck">
   </form>
</div>

<div th:replace="~{fragments/general.html :: scripts}"></div>
</body>
</html>