<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <!--/*/ <th:block th:insert="~{fragments/general.html :: headerfiles}">
        </th:block> /*/-->
    <meta charset="UTF-8">
    <title>Logicomp - Cargo</title>
</head>
<body>
<div class="container" th:replace="~{fragments/general :: header}"></div>

Add <a th:href="@{/truck/add}"> new Truck</a>

<div class="container" th:unless="${#lists.isEmpty(truckList)}">
    <h2>List of all Trucks <span th:if="${orderId.isPresent()}">ready for order n. <span th:text="${orderId.get()}"></span></span></h2>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Plate Number</th>
                <th scope="col">Maximum Capacity (Tn)</th>
                <th scope="col">State</th>
                <th scope="col">Current Location</th>
                <th scope="col">Current Order</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="truck : ${truckList}">
            <td th:text="${truck.id}" scope="row">1</td>
            <td th:text="${truck.plateNumber}">5050ABC</td>
            <td th:text="${truck.maxCapacityTons}">100</td>
            <td th:text="${truck.state}">OK</td>
            <td th:text="${truck.currentLocation.name}">Granada</td>
            <td th:text="${truck?.currentOrder?.id}">100</td>

            <td><a th:href="@{/truck/edit/{id}(id=${truck.id})}">Edit</a></td>
            <td><a th:href="@{/truck/delete/{id}(id=${truck.id})}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="~{fragments/general.html :: scripts}"></div>
</body>
</html>