<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <!--/*/ <th:block th:insert="~{fragments/general.html :: headerfiles}">
        </th:block> /*/-->
    <title>Logicomp - 403 - Access Denied</title>
</head>
<body>
<div class="container pt-5">
    <h2 class="display-2">Error 403 - Access Denied</h2>

    <p>Please make sure that you are <a th:href="@{/auth/login}">logged in</a> and that you have the correct permissions</p>
    <br>
    <p>Contact the site administrator for more details</p>
</div>
</body>
</html>