<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
  <!--/*/ <th:block th:insert="~{fragments/general.html :: headerfiles}">
      </th:block> /*/-->
  <title>Logicomp - Unknown Error</title>
</head>
<body>
<div class="container pt-5">
  <h2 class="display-2"><span th:text="${errorCode}"></span> Error</h2>
  <div class="container pt-5">
    <h3>Error Message: <span th:text="${errorMsg}"></span></h3>
    <h3>Error Code: <span th:text="${errorCode}"></span></h3>
    <br>
    <p>Please contact the site administrator for more details</p>
    <br>
    <h4>Return to <a th:href="@{/}">Home page</a></h4>
  </div>
</div>
</body>
</html>