<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <!--/*/ <th:block th:insert="~{fragments/general.html :: headerfiles}">
        </th:block> /*/-->
    <title>Logicomp - Home</title>
</head>
<body>
<div class="container" th:replace="~{fragments/general :: header}"></div>
<div class="container">
    <h1 class="display-1">Welcome!</h1>
    <div sec:authorize="isAuthenticated()">You are logged in.
        Current user:
        <div sec:authentication="name"></div>
        <h3 class="pt-3">Control panel</h3>
        <ul>
            <li sec:authorize="hasRole('ROLE_MANAGER')">View all the <a th:href="@{/cargo}">cargo</a></li>
            <li sec:authorize="hasRole('ROLE_MANAGER')">View all the <a th:href="@{/truck}">truck</a></li>
            <li sec:authorize="hasRole('ROLE_MANAGER')">View all the <a th:href="@{/order}">order</a></li>
            <li sec:authorize="hasRole('ROLE_DRIVER')" >Go to your <a th:href="@{/driver/panel/{user}(user=${#authentication.name})}">personal page</a> </li>
        </ul>
    </div>
</div>
<div th:replace="~{fragments/general.html :: scripts}"></div>
</body>
</html>